<h1>Project: <%= @project.name %></h1>

<div class="row">

  <div class="col-sm-6">
    <h3>Project Information</h3>

    <label>Volunteers</label><br>
    <% if @project.add_volunteer.any? %>
      <ul>
        <% @project.add_volunteer.each do |volunteer| %>
          <li><%= volunteer.name %></li>
        <% end %>
      </ul>
    <% else %>
      <em>there are no volunteers added yet</em>
    <% end %>
    <hr>
    <form action="/project/<%= @project.id %>/edit" method="post">
      <div class="form-group">

        <input type="hidden" name="_method" value="patch">
        <label>Edit Project Name</label>
        <input type="text" name="name">
        <button type="submit">Update</button>
      </div>
    </form>

  </div>

  <div class="col-sm-6">
    <h3>Add Volunteers</h3>

    <form action="/project/<%= @project.id %>/volunteer" method="post">
      <input name="project_id" type="hidden" value="<%= @project.id %>">
      <label>Enter Name</label>
      <input type="text" name="volunteer_name">
      <button type="submit">Add</button>
    </form>

  </div>

</div>
